:root {
    --white: #fff;
    --gray: #888;
    --black: #000;
    --accent: #88f;

    --itemHover: #ddd;
    --itemActive: #bbb;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-weight: 500;
    font-size: 16px;
}
body {
    color: var(--black);
    background-color: var(--gray);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
main > div {
    width: calc(100% - 32px);
    max-width: 1440px;
    margin: 8px;
    padding: 8px;
    background-color: var(--white);
}

b {
    font-weight: 800;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: var(--accent);
    border-bottom: solid 1px transparent;
    transition: 0.25s;
}
a:hover {
    border-bottom: solid 1px var(--accent);
    transition: 0.25s;
}
code {
    padding: 2px;
    font-size: 14px;
    color: var(--white);
    background-color: var(--black);
}
