#output > .result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -4px;
}

#output > .result > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0;
}

#output > .result > div > .item {
    flex-shrink: 0;
    margin: 0 -4px 0 4px;
    font-weight: 800;
}
#output > .result > div > .function {
    margin: 0 4px;
}
#output > .result > div > .inputA {
    width: calc(480px + 6px);
}
#output > .result > div > .inputB {
    width: calc(240px + 6px);
}

#output > .result > div > div > input {
    width: calc(100% - 6px);
    height: 24px;
    margin: 0;
    padding: 0 2px;
    text-decoration: none;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border-radius: 2px;
    border: solid 1px var(--black);
    outline: none;
    appearance: none;
    background: var(--white);
}
#output > .result > div > div > input:hover {
    background: var(--itemHover);
}
#output > .result > div > div > input:active {
    background: var(--itemActive);
}

#output > .result > div > div > button {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 26px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border-radius: 2px;
    border: solid 1px var(--black);
    outline: none;
    appearance: none;
    background: var(--white);
}
#output > .result > div > div > button:hover {
    background: var(--itemHover);
}
#output > .result > div > div > button:active {
    background: var(--itemActive);
}

#output > .option > div > div > label {
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    #output > .result {
        flex-direction: column;
        align-items: flex-start;
    }
    #output > .result > div {
        width: 100%;
    }
    #output > .result > div > .inputA,
    #output > .result > div > .inputB {
        flex-grow: 1;
        width: calc(100% - 6px);
    }
}
