#output > .result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#output > .result > div:first-of-type {
    margin-left: 0;
}
#output > .result > div:last-of-type {
    margin-right: 0;
}
#output > .result > .function {
    margin: 0 4px;
}
#output > .result > .item {
    font-weight: 800;
    margin: 0 -4px 0 4px;
}

#output > .result > div > input {
    height: 24px;
    margin: 0;
    padding: 0 2px;
    text-decoration: none;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border-radius: 2px;
    border: solid 1px var(--black);
    outline: none;
    appearance: none;
    background: var(--white);
}
#output > .result > div > input:hover {
    background: var(--itemHover);
}
#output > .result > div > input:active {
    background: var(--itemActive);
}
#output > .result > div > .inputA {
    width: 480px;
}
#output > .result > div > .inputB {
    width: 240px;
}

#output > .result > div > button {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 26px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border-radius: 2px;
    border: solid 1px var(--black);
    outline: none;
    appearance: none;
    background: var(--white);
}
#output > .result > div > button:hover {
    background: var(--itemHover);
}
#output > .result > div > button:active {
    background: var(--itemActive);
}

#output > .option > div > label {
    cursor: pointer;
}
